.button {
    letter-spacing: 0.3px;
    border: none;
    outline: none;
    background-color: #ECF0F3;
    transition: 0.25s ease;
    box-shadow: 5px 5px 10px #d1d9e6,
        -5px -5px 10px #f9f9f9;
    height: 50px;
    // padding: 5px 20px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #36597D;
}